@import "tailwindcss";

*{
  /* background-color: #0f172b; */
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,html{
  margin: 0%;
  padding: 0;
}
body{
  background-color: #0f1724; /* slate-900 - unified dark */
  color: #f8fafc; /* slate-50 */
}

html{
  scroll-behavior: smooth;
}